@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dobro dosli</h1>
    <p>Podaci o <a href="/StudentPage/Studenti">Studentima</a>.</p>
    <p>Podaci o <a href="/IspitniRokPage/IspitniRokovi">Ispitnim rokovima</a>.</p>
    <p>Podaci o <a href="/PrijavaPage/IspitnePrijave">Ispitnim prijavama</a>.</p>
    <p>Podaci o <a href="/IspitPage/Ispiti">Ispitima</a>.</p>
</div>
