@page
@model StudentskaSluzba.Pages.IspitniRokPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>IspitniRok</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IspitniRok.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IspitniRok.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IspitniRok?.ID">Edit</a> |
    <a asp-page="./IspitniRokovi">Back to List</a>
</div>
