@page
@model StudentskaSluzba.Pages.IspitPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ispit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ispit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ispit.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ispit?.ID">Edit</a> |
    <a asp-page="./Ispiti">Back to List</a>
</div>
